.contact-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative;
    text-align: center;
    max-width: 100%;
    margin-top: 85px;
    padding: 0 20px; 
}

.contact-content {
    position: relative;
    width: 100%; 
}

.contact-image {
    width: 100%;
    height: auto; 
    display: block; 
}

.contact-text {
    position: absolute;
    top: 50px; 
    left: 50%; 
    transform: translateX(-50%); 
    color: white;
    font-size: 46px;
    font-weight: bold;
    max-width: 90%; 
    padding: 0 10px; 
    box-sizing: border-box; 
}

.map {
    position: absolute;
    bottom: 80px;
    left: 50%; 
    transform: translateX(-50%); 
    background-color: #CCCCCC;
    color: #333333;
    margin-bottom: 80px;
    border-radius: 5px;
    width: 1000px;
    height: 400px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    font-size: 46px;
    font-weight: bold;
}
@media (min-width: 1024px) and (max-width: 1280px) {
    .contact-container {
        padding: 0 10px; 
    }

    .contact-text {
        font-size: 36px; 
        top: 40px; 
    }

    .map {
        width: 800px; 
        height: 300px; 
        font-size: 36px; 
    }
}

@media (min-width: 1280px) and (max-width: 1440px) {
    .contact-container {
        padding: 0 15px; 
    }

    .contact-text {
        font-size: 42px; 
        top: 45px; 
    }

    .map {
        width: 900px; 
        height: 350px; 
        font-size: 42px; 
    }
}