.news {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.news-title {
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 46px;
    font-weight: bold;
}

.news > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #DDDDDD; 
    max-width: 1200px;
}

.news p {
    font-size: 16px;
}

.date {
    margin-left: 21px;
    margin-right: 20px;
    font-size: 16px;
    font-weight: normal;
}

.news button {
    margin-bottom: 10px;
}

.information {
    gap: 21px;
    height: 32px;
    width: 120px;
    border-radius: 5px;
    background-color: #E3007F;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.recruit {
    gap: 21px;
    height: 32px;
    width: 120px;
    border-radius: 5px;
    background-color: #009FE8;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.news .information-line-top {
    border-top: 1px solid #707070; 
    padding-top: 15px;
    margin-top: 15px;
}

.news .information-line-bottom {
    border-bottom: 1px solid #707070; 
    border-top: none; 
}

.news-list-container{
    display: flex;
    justify-content: center ;
}
.news-list-wrapper {
    display: inline-block;
    position: relative;
    margin-top: 26px;
}

.news-list {
    width: 240px;
    height: 60px;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: normal;
    border: 1px solid #707070;
    color: #333333;
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.news-list-wrapper::before,
.news-list-wrapper::after {
    content: '';
    position: absolute;
    background-color: #707070; 
}

.news-list-wrapper::before {
    bottom: -5px; 
    left: 0;
    width: 245px;
    height: 1px; 
}

.news-list-wrapper::after {
    top: 0;
    right: -5px;
    width: 1px; 
    height: 65px;
}
