.contact-container {
    margin-top: 50.5px;
}

.contact-content {
    position: relative;
    text-align: center; 
}

.contact-image {
    width: 320px;
    height: 553px;
    object-fit: cover;
    margin-bottom: -10px;
}

.contact-text {
    position: absolute;
    top: 30px; 
    left: 50%;
    transform: translateX(-50%);
    font-size: 32px;
    color: white;
    font-weight: bold;
}

.map {
    position: absolute; 
    bottom: 50px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #CCCCCC;
    color: #333333;
    width: 290px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
}
