.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF000;
    height: 60px;
    width: 100%; 
    padding: 0 15px; 
    box-sizing: border-box;
}

.dummy-text-footer {
    font-size: 20px;
    color: #333333;
}

.footer-right {
    font-size: 10px;
    color: #333333;
}
